In [2]:
import pandas as pd

In [3]:
# 2 main data types
series = pd.Series(["BMW", "Toyota", "Honda"])
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [6]:
# series = 1 dimensional
colors = pd.Series(["Red", "Blue", "White"])
colors

0      Red
1     Blue
2    White
dtype: object

## Data Frames
- 2 Dimensional
- Made with Python dictionaries, so you pass in keys and values
- Keys can be names you make (will be column names)
- Values can be Pandas series you've already created

In [7]:
# DataFrame = 2 dimensional
car_data = pd.DataFrame({"Car Make": series, "Color": colors})
car_data

  Car Make  Color
0      BMW    Red
1   Toyota   Blue
2    Honda  White

Instead of creating DataFrames manually with other created series, you can import data into a data frame

In [8]:
# Import data
car_sales = pd.read_csv("./data/car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

*Note*: Rows are referred to as `axis=0` and columns are referred to as `axis=1`

You can also import CSV data from a URL. The command would look like this:
`car_sales = pd.read_csv("https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/master/data/car-sales.csv")

You can find raw data URLs for GitHub files by navigating to the file and clicking the `Raw` button in the top right

In [10]:
# Exporting a DataFrame
car_sales.to_csv("./data/exported-car-sales.csv")

# Test to see if the export worked
exported_car_sales = pd.read_csv("./data/exported-car-sales.csv")
exported_car_sales

   Unnamed: 0    Make Colour  Odometer (KM)  Doors       Price
0           0  Toyota  White         150043      4   $4,000.00
1           1   Honda    Red          87899      4   $5,000.00
2           2  Toyota   Blue          32549      3   $7,000.00
3           3     BMW  Black          11179      5  $22,000.00
4           4  Nissan  White         213095      4   $3,500.00
5           5  Toyota  Green          99213      4   $4,500.00
6           6   Honda   Blue          45698      4   $7,500.00
7           7   Honda   Blue          54738      4   $7,000.00
8           8  Toyota  White          60000      4   $6,250.00
9           9  Nissan  White          31600      4   $9,700.00

As you can see in the above table, the row index got exported as a data column/label. You can stop this from happening in the export statement by adding `index=False` as a second argument. It would look like this:
```python
car_sales.to_csv("../data/exported-car-sales.csv", index=False)
```

In [11]:
# Exporting a DataFrame without index!
car_sales.to_csv("./data/exported-car-sales.csv", index=False)

# Test to see if the export worked without index!
exported_car_sales = pd.read_csv("./data/exported-car-sales.csv")
exported_car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00